boto3==1.17.22
Django==3.1.7
Pillow
django-model-utils
django-storages
fontawesome-free
jmespath
ordered-set
Pillow
python-dateutil
pytz
s3transfer
six
sqlparse
urllib3
mysqlclient==2.0.1
django-debug-toolbar
django-cachalot
requests