:root {
	text-color:#F42515;
	text-color-hover: #F42515;
	heading-text-color: #F42515;
	link-text-color: #F42515;
}
.header_background {
	background-image: linear-gradient(to right, #00A9AE,#002D40);
}
.background-color {
	background-color: #13AAAD;
}
button#btn-color.btn.btn-lg.btn-block.mt-4 {
	background-color: #00A9AE !important;
}
.active {
	border-bottom: 2px solid #F42515;
	text-decoration: none;
	color: #F42515
}
.active:hover{
	text-decoration: none;
    color: #F42515;
}
/* headings text */
/*.text-heading {*/
	  /*color: #F42515;*/
/*}*/
/*.text_link {*/
	/*color: #F42515;*/
	/*font-family: "sans-serif";*/
/*}*/
.hover-underline-animation {
  color: #F42515;
	/*margin-top: -10px;*/
}
.hover-underline-animation:hover{
  color: #F42515;
}

.hover-underline-animation:after {
  background-color: #F42515;
}

.cust-btn {
	margin-top: 30px;
	background: #13AAAD;
	border-radius: 5px;
	color: #ffffff;
	font-size: 25px;
	padding: 7px 80px 7px 80px;
	/*text-decoration: none;*/
}

.cust-btn:hover {
	background: #F42515 ;
	color: #ffffff;
}
.cust-btn:focus {
	background: black;
	color: #ffffff;
}
.highlight{
	background-color: blue;
}
.child-a-tag {
	background-color: #00A6AB;
	color: white;
}
.child-a-tag:hover, .small-children-links:hover {
	color: white;
	background-color: #F42515;
}
@media only screen and (max-width: 991px) {
	.mobile-conference-date {
		background-color: #002D40;
	}
}
@media only screen and (max-width: 991px) {
	#slider {
		display: none;
	}
	.child-a-tag {
	background-color: white;
	color: black;
	}
	.child-a-tag:hover, .small-children-links:hover {
	color: #F42515;
	background-color: white;
	}
	.hover-underline-animation {
        color: white;
	/*margin-top: -10px;*/
	}
	.hover-underline-animation:hover{
	  color: white;
	}

	.hover-underline-animation:after {
	  background-color: white;
	}
}
