*{
	margin: 0;
	padding: 0;
}
.container {
	width: 85%;
}

.conference_link a:link {
	text-decoration: none;
}
.conference_link a:visited {
	text-decoration: none;
}

.conference_link a:hover {
	text-decoration: none;
	font-size: 1.02em;
	transition-duration: 0s;
}
.conference_link .annual{
	margin-bottom: 5px;
}
.apps ul {
	list-style: none;
	padding-left: 0;
}
.apps ul li{
	display: inline;
}
.apps li{
	display: inline;
}
#virtual {
	text-align: center;
	font-weight: bolder;
}
.heading1 {
	font-size: 2em;
}
.heading2 {
	font-size: 2em;
}
.image_container {
	width: 800px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
}
@media screen and (min-width: 0px) and (max-width: 497px) {
  .hide_large_display { display: block; }  /* show it on small screens */
	#schedule-grid {width: 497px;}
	.pitch-images {width: 250px}
}
@media screen and (min-width: 768px) {
  .hide_large_display { display: none;}   /* hide it elsewhere */
	#schedule-grid {width: 993px;}
}

.speakers {
	margin-bottom: 0;
	margin-top: 0;
	font-size: .75em;
}

.title-height {
	height: 50px;
	text-align: center;
}

.item-height{
	height: 150px;
	text-align: left;
	vertical-align: middle;
}
.text-height{
	padding-top: 10px;

}

.extra-bottom{
	margin-bottom: 10px;
}

.pitch {
	font-size: 1.2em;
}

.float-right{
	float: right;
	padding: 0 0 15px 15px;
}
.register-title {
	width: 200px;
}
.register-info {
	width: 150px;
}
.baseBlock {
	-webkit-transform: translate(0, -4px);
	-moz-transform: translate(0, -4px);
	-ms-transform: translate(0, -4px);
	-o-transform: translate(0, -4px);
	transform: translate(0, -4px);
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.15);
}
.baseBlock:hover {
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}
.row {
	justify-content: center;
}
.newsletter {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}
.speaker_image {
	height: 300px;
}
h2{
	color: green;
	font-weight: bolder;
	font-size: 4em;
}