{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}

<div class="container ">
	<h1>{{ agent.first_name }} {{ agent.last_name }}</h1>
	<div class="row">
		<div class="speaker_image">
			<img src="{{ agent.img.url }}" alt="{{ agent.img.alt }}">
		</div>
		<p class="speaker-description text-color-accessibility">
			{{ agent.description|safe }}
		</p>

	</div>
		<div class="text-color-accessibility">
		Topics Covered:
			{% for topic in agent.topic.all %}
				{{ topic }},

			{% endfor %}

		</div>
</div>

{% endblock content %}