{% extends 'conference/static_templates/base.html' %}
{% load thumbnail %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}


{% block content %}

<div class="container">
	<div class="text-center pb-1 text-color-accessibility">
		{% if request.user.is_staff %}
			{{ settings.agents.text|safe|default:"settings.agents.text" }}
		{% else %}
			{{ settings.agents.text|safe }}
		{% endif %}
	</div>
	<div id="topic-buttons">
		<button class="btn btn-light text-color-accessibility" type="button" style="color: #045882;font-weight: bold; padding: 0 5px; font-size: .9em">All</button>
		{% for topic in topic_list %}
			<button class="btn btn-light text-color-accessibility" type="button" data-slug="{{ topic.slug }}" style="color: #045882;font-weight: bold; padding: 0 5px; font-size: .9em">{{ topic|upper }}</button>
 		{% endfor %}
	</div>
	<div class="row justify-content-center p-4" id="agent-list">
		{% for agent in agents %}
{#			<div class="all {% for topic in agent.topic.all %}{{ topic.slug }} {% endfor %}">#}
			<div class="card baseBlock flex-column justify-content-between text-center all agents-card {% for topic in agent.topic.all %} {{ topic.slug }} {% endfor %}"
	             id="" style="width: fit-content; margin: 5px; padding: 10px">
				<a href="{% url 'agent' agent.slug %}">
					<div class="card-img-top" style="max-width: 240px; min-width: 240px"> {% thumbnail agent.img 200 %}</div>

					<p class="card-text speaker-text-color uk-text-bold text-color-accessibility">
						{{ agent.first_name|upper }}
						{{ agent.last_name|upper }}<br>
						{{ agent.company|title }}<br>
					</p>
				</a>
			</div>
		{% endfor %}
	</div>
	<div style="margin-top: 30px">
		<a class="cust-btn cust-btn-accessibility" href="{{ url.register_url }} }}" style="margin-top: 60px">REGISTER NOW</a>
	</div>
</div>


{% endblock content %}
