{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}

<div class="container">
<h1>FREQUENTLY ASKED QUESTIONS (FOR VIRTUAL EVENT)</h1>
<ul>

	{% for question in questions %}
		<li>
			<a href="#{{ question.id }}">{{ question.question }}</a>
		</li>

	{% endfor %}
</ul>
	{% for question in questions %}
		<div class="pt-5" id="{{ question.id }}">
			<div style="font-weight: bold">
				{{ question.question }}
			</div>
			<div class="pt-2">
				{{ question.answer|safe }}

			</div>
		</div>
	{% endfor %}

</div>


{% endblock content %}
