{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}
{#{% include 'conference/static_templates/header.html' %}#}
<div id="slider" class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slider="center:true; autoplay:true">
    <ul class="uk-slider-items uk-grid uk-grid-collapse">
        {% with images=settings.home.slide_show_img %}
            {% for img in images %}
                <li class="uk-width-2-3 uk-padding-large">
                    <div class="uk-panel">
	                        <img src="{{ img.url }}" alt="{{ img.alt }}">
{#                          <div class="uk-position-center uk-panel"><h2>1</h2></div>#}
                    </div>
                </li>
            {% endfor %}
        {% endwith %}
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>
<div class="container" style="padding: 2rem 0 !important;">
	<div class="d-flex flex-row justify-content-around flex-wrap" >
		<div class="p-2 ">
			<h2 class="text-heading">
				{{ settings.home.h1|safe|default:"settings.home.h1"  }}
			</h2>
		</div>
		<div class="p-2">
			<p>
				{{ settings.home.text|safe|default:"settings.home.text" }}

			</p>
		</div>
	</div>

</div>
	<br>



{% endblock %}