{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock title %}

{% block content %}
{#{% include 'conference/static_templates/header.html'  %}#}
<div id="slider" class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slider="center:true; autoplay:true" style="padding-bottom: 30px">
    <ul class="uk-slider-items uk-grid uk-grid-collapse">
        {% with images=settings.home.slide_show_img %}
            {% for img in images %}
                <li class="uk-width-2-3 uk-padding-large uk-padding-remove-top uk-padding-remove-bottom">
                    <div class="uk-panel">
	                        <img src="{{ img.url }}" alt="{{ img.alt }}">
{#                          <div class="uk-position-center uk-panel"><h2>1</h2></div>#}
                    </div>
                </li>
            {% endfor %}
        {% endwith %}
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>
<div class="container" style="width: 75%">
	<div class="uk-grid" style="padding: 0px 0">
		<div class="uk-width-1-2@m" style="padding: 10px 0">
			<h2 class="text-heading" style="color: #f42515; font-weight: bolder">
                {% if request.user.is_staff %}
                    {{ settings.home.h1|safe|default:"settings.home.h1"  }}
                {% else %}
                    {{ settings.home.h1|safe  }}
                {% endif %}
			</h2>
		</div>
		<div class="uk-width-expand@m" style="padding: 10px 0">
			<p class="" >
                {% if request.user.is_staff %}
                    {{ settings.home.text|safe|default:"settings.home.text" }}
                {% else %}
                    {{ settings.home.text|safe }}
                {% endif %}
			</p>
        	<a class="cust-btn cust-btn-accessibility" href="{{ url.register_url }} }}" style="margin: 60px 0 20px 0; font-size: 19px; padding: 5px 12px; font-weight: normal">REGISTER NOW</a>
            <div class="apps col-sm-6 text-right header-right" style="padding: 10px;">
                <div class="text-left">
                    <ul class="social-media-list">
                        <li><a href="https://twitter.com/WritersDigest"><i class="fab fa-twitter social-media" title="Twitter" aria-label="Twitter" role="img" style="color: black; font-size: 1.1em"></i></a></li>
                        <li><a href="https://www.facebook.com/writersdigest"><i class="fab fa-facebook-f social-media" title="Facebook" aria-label="Facebook" role="img" style="color: black; font-size: 1.1em"></i></a></li>
                        <li><a href="https://www.instagram.com/writersdigest/"><i class="fab fa-instagram social-media" title="Instagram" aria-label="Instagram" role="img" style="color: black; font-size: 1.1em"></i></a></li>
                    </ul>
                </div>
			</div>
		</div>
	</div>

</div>
	<br>


{% endblock %}