{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}
	<style>
		@media screen and (max-width: 992px) {
		  .pitch-slam-image { display: none;}   /* hide it elsewhere */
}
	</style>
<div class="container">
	<div class="row">
		{% for pitch in pitchslam %}
			<div class="speaker_image">
				{% for img in pitch.imgs.all %}
					<img class="pitch-slam-image" src="{{ img.url }}" alt="{{ img.alt }}">
				{% endfor %}
			</div>
			<p class="font-italic font-weight-light pitch">
				{{ pitch.description|safe }}
			</p>

		{% endfor %}
	</div>
	<a class="cust-btn" href="{{ register_url.register_url }}" style="margin-top: 60px">Register Now</a>
</div>
{% endblock content %}

