{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}

<div class="container">
{#	<h1 class="text-heading">#}
{#		Registration Details#}
{#	</h1>#}
{##}
{#	{% for title, registration_option in registration_options.items %}#}
{#		<div class="row" style="min-width: 680px; display: inline-flex">#}
{#			{% if forloop.first %}#}
{#				<div>REGISTRATION DATE <br><br>#}
{#					<div class="mr-4 register-title">#}
{#						{{ title|upper }}#}
{#					</div>#}
{#				</div>#}
{##}
{#				{% for date, cost in registration_option.items %}#}
{#					<div class=" register-info">#}
{#						<div class="border border-dark">#}
{#							{% for time in date %}#}
{#								<div class=" col-12 register-info">#}
{#									{{ time }}#}
{#									{% if forloop.first %}#}
{#										-#}
{#									{% endif %}#}
{#								</div>#}
{#							{% endfor %}#}
{#						</div>#}
{#						{% for c in cost %}#}
{#							<div class=" register-info border border-dark text-center{% if today > date or today < date %}highlight{% endif %}">#}
{#							    ${{ c }}#}
{#							</div>#}
{#						{% endfor %}#}
{#					</div>#}
{#				{% endfor %}#}
{##}
{#			{% else %}#}
{#				<div class="mr-4 register-title">#}
{#					{{ title|upper }}#}
{#				</div>#}
{#				{% for date, cost in registration_option.items %}#}
{#					<div class="border border-dark pr-5 pl-5 register-info {% if today > option.start and today < option.end %} highlight{% endif %}">#}
{#						<div class=" text-center">#}
{#							{% for c in cost %}#}
{#							    ${{ c }}#}
{#							{% endfor %}#}
{#						</div>#}
{#					</div>#}
{#				{% endfor %}#}
{#			{% endif %}#}
{#		</div>#}
{#	{% endfor %}#}
{##}



{#<table>#}
{#  <tr>#}
{#    <th>REGISTRATION OPTIONS</th>#}
{#    <th>Savings</th>#}
{#  </tr>#}
{#  <tr>#}
{#    <td>January</td>#}
{#    <td>$100</td>#}
{#  </tr>#}
{#  <tr>#}
{#    <td>February</td>#}
{#    <td>$80</td>#}
{#  </tr>#}
{#</table>#}
{#	<h1 class="text-heading">#}
{#	</h1>#}
{#<div class="table-responsive-md">#}
<table class="table" style="min-width: 650px">
	<tr>
		<th class="align-middle" style="border-top: 0">
			REGISTRATION OPTIONS
		</th>
	{% for title, registration_option in registration_options.items %}
		{% if forloop.first %}
			{% for date, cost in registration_option.items %}

				<th class="{% if date.0 <= today and date.1 >= today  %}sale-date table-accessibility{% endif %}" style="{% if date.1 <= today %}display:none;{% endif %}border-top: 0">
					{% for time in date %}
						{% if time < today %}
							<span><p style="margin-bottom: 0; display: inline">NOW</p></span>
						{% else %}


{#							</span>#}
							<span style="font-size: .75em">
								{% if register_url %}

								{% endif %}	{{ time }}
							</span>
						{% endif %}

						{% if forloop.first %}
							-<br>
						{% endif %}
					{% endfor %}
				</th>
			{% endfor %}
		{% endif %}
	</tr>
	<tr class="table-secondary">
		<td style="border-top: 0">
			{{ title|upper }}
		</td>
		{% for dates, cost in registration_option.items %}
			{% for date in dates %}
				{% if forloop.first %}
					<td class="{% if date <= today and dates.1 >= today %}sale-date table-accessibility{% endif %}" style="{% if dates.1 <= today %}display:none;{% else %}width: 115px; min-width: 115px{% endif %}border-top: 0">
					{% for c in cost %}
					   ${{ c }}
					{% endfor %}
					</td>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{#</div>#}




<div style="margin-top: 30px; padding: 0 0 30px 0">
	<a class="cust-btn cust-btn-accessibility" href="{{ url.register_url }} }}" style="margin-top: 60px">Register Now</a>
</div>
	{% for detail in details %}
{#		<h4>#}
{#			{{ detail.title }}#}
{#		</h4>#}
		<div class="text-color-accessibility">
			{{ detail.description|safe }}

		</div>
		<hr style="width: 80%;margin-left: auto;margin-right: auto;height: 2px;background-color:rgba(119,136,153,0.5);">
	{% endfor %}

	<h3>Add-Ons</h3>
	<div class="row" style="padding-bottom: 25px;justify-content: left;">

		{% for add_on in add_ons %}
			<div class="card p-2 text-color-accessibility" style="width: 100%">
			 <div class="card-body text-color-accessibility">
				<h4 class="card-title text-color-accessibility">{{ add_on.title }}</h4>
				<p class="card-text text-color-accessibility">{{ add_on.description }}</p>
				<p text-color-accessibility>Date: {{ add_on.date }}</p>
			</div>
			</div>
		{% endfor %}
	</div>
	<a class="cust-btn cust-btn-accessibility" href="{{ url.register_url }} }}" style="margin-top: 60px">Register Now</a>

</div>

{% endblock content %}
