{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}

<div class="container" id="schedule-grid">

	<div>
		{% if request.user.is_staff %}
			{{ settings.schedule.intro_paragraph|safe|default:"settings.schedule.intro_paragraph" }}
		{% else %}
			{{ settings.schedule.intro_paragraph|safe|default:"settings.schedule.intro_paragraph" }}
		{% endif %}
	</div>
	<div class="p-3 mb-4 mt-4 schedule-bg-color text-white uk-text-bold">
		FEATURED EVENTS
	</div>
	{% for session in featured_sessions %}
		{% if session.is_featured %}
{#			TODO create a session time for featured events #}
			Pre-Conference Workshop ( {{ session.session_schedules }} )
			<div class="atomic-narration">

				<a href="/session/{{ session.slug }}">{{ session.title|upper }}</a> |
			{% for speaker in session.speakers.all %}
				<span>{{ speaker|title }}</span>
			{% endfor %}
			</div>
		{% endif %}
	{% endfor %}


	<div class="p-3 mt-4 mb-2 schedule-bg-color text-white uk-text-bold">
		SESSIONS SCHEDULE
	</div>
	{% for date, day in table_data.items %}
		{% for k, v in day.items %}
			{% if forloop.first %}
			{% for ke, va in v.items %}
				{% if forloop.first %}
				{% for session in va.session_schedules.all %}
					{% if forloop.first %}
						<h2 class="text-heading ml-4">{{session.start|date:"l, F, j, Y"}}</h2>

					{% endif %}
				{% endfor %}
				{% endif %}

			{% endfor %}
			{% endif %}
		{% endfor %}

		<div class="row" id="schedule-grid" >
			{% for topic_name, timeslots in day.items %}
				<div class="topic-area pt-5">
					<div class="col-xs-6 {{ topic_name }} "></div>
					{% if forloop.first %}
						{% for timeslot in timeslots.keys %}
							{% if timeslot.0 %}
								<div class="extra-bottom item-height text-height col-xs border border-dark pl-2" style="width: 200px">
									{{ timeslot.0|date:"P" }} - {{ timeslot.1|date:"P" }}
								</div>
							{% endif %}
						{% endfor %}
					{% else %}
						<div class="hide_large_display">

						{% for timeslot in timeslots.keys %}
							{% if timeslot.0 %}
								<div class="extra-bottom item-height text-height col-md second-time border border-dark  pl-2" style="width: 200px">
									{{ timeslot.0|date:"P" }} - {{ timeslot.1|date:"P" }}
								</div>
							{% endif %}
						{% endfor %}
						</div>
					{% endif %}
				</div>

				<div class="topic-area">
				</div>

				<div class="col-xs-6">
					<div class="text-center {{ topic_name }}" style="height:48px; margin: 0 8px; width: 200px; padding-top: 5px">
						<p class="topic-name ">{{ topic_name|upper }}</p>
					</div>
					{% for timeslot, conference_session in timeslots.items %}

						<div class="extra-bottom item-height text-height col-sm border border-dark ml-2 {{ topic_name }}" style="width: 200px">

							{% if conference_session %}
								{% if 'Lunch' in conference_session.title|title %}
									{{ conference_session.title|title|truncatechars:65 }}
								{% else %}
									<a href="{% url 'session' slug=conference_session.slug %}">{{ conference_session.title|title|truncatechars:65 }}</a>
								{% endif %}
								<p class="speakers">Speaker(s):</p>
								<ul class="speakers">

									{% for session in sessions %}
										{% with speakers=session.speakers.all %}
											{% for speaker in speakers %}
												{% if session.title == conference_session.title %}
													<li><a href="{% url 'speaker' slug=speaker.slug %}">{{speaker|upper}}</a></li>
												{% endif %}
											{% endfor %}
										{% endwith %}
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	{% endfor %}



{# table trial #}

{#	<style>#}
{#		#sec-table{#}
{#			min-width: 1000px;#}
{#		}#}
{#	</style>#}
{##}
{#<div id="sec-table">#}
{##}
{#	{% for date, day in table_data.items %}#}
{#		{% for k, v in day.items %}#}
{#			{% if forloop.first %}#}
{#			{% for ke, va in v.items %}#}
{#				{% if forloop.first %}#}
{#				{% for session in va.session_schedules.all %}#}
{#					{% if forloop.first %}#}
{#						<h2 class="text-heading ml-4">{{session.start|date:"l, F, j, Y"}}</h2>#}
{##}
{#					{% endif %}#}
{#				{% endfor %}#}
{#				{% endif %}#}
{##}
{#			{% endfor %}#}
{#			{% endif %}#}
{#		{% endfor %}#}
{##}
{#		<div class="" id="schedule-grid" style="display: flex;">#}
{#					<div class="topic-name text-center uk-text-bold " style="width: 365px">Time </div>#}
{#					<div class="col-xs-6 {{ topic_name }}" style="width: 200px; border: 1px solid black">Time</div>#}
{#			{% for topic_name, timeslots in day.items %}#}
{#				<tbody>#}
{##}
{#					{% if forloop.first %}#}
{#						{% for timeslot in timeslots.keys %}#}
{#							{% if timeslot.0 %}#}
{#								<div scope="col text-center col-sm border border-dark ml-5 p-5 m-5" style="width: 300px;padding-left: 20px">#}
{#									{{ timeslot.0|date:"P" }} -<br> {{ timeslot.1|date:"P" }}#}
{#								</div>#}
{#							{% endif %}#}
{#						{% endfor %}#}
{#					{% else %}#}
{#						<div class="hide_large_display">#}
{##}
{#						{% for timeslot in timeslots.keys %}#}
{#							{% if timeslot.0 %}#}
{#								<div scope="col text-center col-sm border border-dark ml-5 p-5 m-5">#}
{#									{{ timeslot.0|date:"P" }} - {{ timeslot.1|date:"P" }}#}
{#								</div>#}
{#							{% endif %}#}
{#						{% endfor %}#}
{#						</div>#}
{#					{% endif %}#}
{#				</div>#}
{#				</tbody>#}
{#		<div class="" id="schedule-grid" style="display: flex;">#}
{##}
{#				<div class="topic-area">#}
{#				</div>#}
{##}
{#				<tbody class="col-xs-6">#}
{#					<tr class="text-center {{ topic_name }}" style="height:48px; margin: 0 8px; width: 200px; padding-top: 5px">#}
{#						<div class="topic-name text-center uk-text-bold " style="width: 200px">{{ topic_name }} </div>#}
{#					</tr>#}
{#					{% for timeslot, conference_session in timeslots.items %}#}
{##}
{#						<div class="extra-bottom item-height text-height col-sm border border-dark ml-2 {{ topic_name }}" style="width: 300px">#}
{##}
{#							{% if conference_session %}#}
{#								{% if 'Lunch' in conference_session.title|title %}#}
{#									{{ conference_session.title|title|truncatechars:65 }}#}
{#								{% else %}#}
{#									<a href="{% url 'session' slug=conference_session.slug %}">{{ conference_session.title|title|truncatechars:65 }}</a>#}
{#								{% endif %}#}
{#								<p class="speakers">Speaker(s):</p>#}
{#								<ul class="speakers">#}
{##}
{#									{% for session in sessions %}#}
{#										{% with speakers=session.speakers.all %}#}
{#											{% for speaker in speakers %}#}
{#												{% if session.title == conference_session.title %}#}
{#													<li><a href="{% url 'speaker' slug=speaker.slug %}">{{speaker}}</a></li>#}
{#												{% endif %}#}
{#											{% endfor %}#}
{#										{% endwith %}#}
{#									{% endfor %}#}
{#								</ul>#}
{#							{% endif %}#}
{#						</div>#}
{#					{% endfor %}#}
{#				</tbody>#}
{#			{% endfor %}#}
{#		</div>#}
{#	{% endfor %}#}
{#</div>#}
</div>
{% endblock content %}


{##}
{#{% for date, day in table_data.items %}#}
{#	<h2>{{ date }}</h2>#}
{#	<div class="d-flex table">#}
{##}
{#	{% for topic_name, timeslots in day.items %}#}
{#		<div class="column p-2">#}
{#			<div class="cell  title-height"></div>#}
{#				{% if forloop.first %}#}
{#					{% for timeslot in timeslots.keys %}#}
{#						<div class="cell bg-primary p-2 m-2 h-50 ">#}
{#							{{ timeslot.0 }} - {{ timeslot.1|date:"P" }}#}
{#						</div>#}
{#					{% endfor %}#}
{#				{% endif %}#}
{#		</div>#}
{#		<div class="show-hide">#}
{##}
{#		<div class="column-additional-times">#}
{#			{% if not forloop.first %}#}
{#				{% for timeslot in timeslots.keys %}#}
{#					<div class="cell times bg-warning p-2 m-2 h-50 ">#}
{#						{{ timeslot.0 }} - {{ timeslot.1|date:"P" }}#}
{#					</div>#}
{#				{% endfor %}#}
{#			{% endif %}#}
{#		</div>#}
{#		<div class="column-cell">#}
{#			<div class="cell title-height">#}
{#				{{ topic_name }}#}
{#			</div>#}
{#			{% for timeslot, conference_session in timeslots.items %}#}
{#				<div class="cell bg-info p-2 m-2 h-50 ">#}
{#					{% if conference_session %}#}
{#						{{ conference_session.title|title }}#}
{#					{% endif %}#}
{#				</div>#}
{#			{% endfor %}#}
{#		</div>#}
{#		</div>#}
{#	{% endfor %}#}
{#	</div>#}
{##}
{#{% endfor %}#}
