{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}

<div class="container">
	<h1>{{ speaker.first_name }} {{ speaker.last_name }}</h1>
	<div class="row">
		<div class="speaker_image">
			{{ speaker.img }}

		</div>
		<p class="speaker-description" style="margin-top: 0!important">
			{{ speaker.description|safe }}
		</p>
	<div>
		<p class="font-weight-bold pt-5">Related Sessions</p>
		{% for session in speakers_conferences %}
			<p>
				<a class="text-color-accessibility" href="{% url 'session' slug=session.slug %}">{{ session|title|truncatechars:65 }}</a>
			</p>
		{% endfor %}
		</div>
	</div>
</div>

{% endblock content %}