{% extends 'conference/static_templates/base.html' %}
{% load thumbnail %}
{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}

<div class="container">
	<div class="text-center">
		{% if request.user.is_staff %}
			{{ settings.speakers.text|safe|default:"settings.speakers.text" }}
		{% else %}
			{{ settings.speakers.text|safe }}
		{% endif %}
	</div>
	<div class="row justify-content-center p-5">
		{% for speaker in speakers %}
				{% if speaker.is_keynote %}
					<a href="{% url 'speaker' speaker.slug %}">
						<div class="card baseBlock flex-column justify-content-between text-center" style="width: fit-content; min-width: 75px; margin: 10px; padding: 10px">
						<div class="card-img-top"> {% thumbnail speaker.img 400 %}</div>
{#							<img class="card-img-top" src="" alt="">#}
						<p class="card-text speaker-text-color text-color-accessibility" style="margin: 5px 0; color: black">
							{{ speaker.keynote_type|upper }}
						</p>
                            <p class="card-text uk-text-bold speaker-text-color text-color-accessibility" style="margin-top: 5px">
							{{ speaker|upper }}

                            </p>
						</div>
					</a>
				{% endif %}
		{% endfor %}
	</div>
	<div class="row justify-content-center">
		{% for speaker in speakers %}
			{% if not speaker.is_keynote %}
				<div class="card baseBlock flex-column justify-content-between text-center"
				     style="width: fit-content; min-width: 50px; margin: 10px; padding: 10px">
					<a href="{% url 'speaker' speaker.slug %}">
						<div class="card-img-top">{% thumbnail speaker.img 200 %}</div>
{#						<img  class="card-img-top" src="/media/image/35/thumbnail/?w=200" alt="" style="max-width: 200px">#}
						<div class="card-body" style="padding: 0">
							<p class="card-title speaker-text-color text-color-accessibility" style="margin-bottom: 0">
								{{ speaker.first_name|upper }} {{ speaker.last_name|upper }}
							</p>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>


{% endblock content %}
