{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}

{% include 'conference/static_templates/header.html' %}
<div class="container">
	<div class="text-center">
		{{ settings.speakers.text|safe }}
	</div>
	<div class="row justify-content-center p-5">
		{% for speaker in speakers %}
				{% if speaker.is_keynote %}
					<a href="{% url 'speaker' speaker.slug %}">
						<div class="card baseBlock d-flex flex-column justify-content-between text-center" style="max-width: 300px; min-width: 75px; margin: 10px; padding: 10px">
						<div class="card-img-top"> {{ speaker.img.preview|safe }}</div>
{#							<img class="card-img-top" src="" alt="">#}
						<p class="card-text">
							{{ speaker.keynote_type }}<br>
							{{ speaker }}
						</p>
						</div>
					</a>
				{% endif %}
		{% endfor %}
	</div>
	<div class="row justify-content-center">
		{% for speaker in speakers %}
			{% if not speaker.is_keynote %}
			{#TODO order by last name#}
				<div class="card baseBlock d-flex flex-column justify-content-between text-center" style="width: 200px; min-width: 50px; margin: 10px; padding: 10px">
					<a href="{% url 'speaker' speaker.slug %}">
						<div class="card-img-top"> {{ speaker.img.thumb|safe }}</div>
{#						<img  class="card-img-top" src="" alt="">#}
						<div class="card-body" style="padding: 0">
							<p class="card-title" style="margin-bottom: 0">
								{{ speaker.first_name }} {{ speaker.last_name }}
							</p>
						</div>
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>


{% endblock content %}
