{% extends 'conference/static_templates/base.html' %}

{% block title %}Writer's Digest {{ conference }} Writing Conference{% endblock %}

{% block content %}

<div class="container">
	<div class="text-center">
		{% if request.user.is_staff %}
			{{ settings.sponsors.text|safe|default:"settings.sponsors.text" }}
		{% else %}
			{{ settings.sponsors.text|safe }}
		{% endif %}
	</div>
	<h1 class="text-heading uk-text-bold">
		SPONSOR
	</h1>
	<div class="row" style="justify-content: left">
		{% for sponsor in sponsors %}
			<div class="card baseBlock d-flex flex-column justify-content-between text-center" style="max-width: 300px; min-width: 300px; margin: 10px; padding: 10px">
				<a href="{{ sponsor.website }}">
						<div class="card-img-top"> {{ sponsor.img.thumb|safe }}</div>
					<div class="card-body">
						<h5 class="card-title">{{ sponsor.name|upper }}</h5>
					</div>
					<p class="card-text">
						{{ sponsor.website }}
					</p>
				</a>
			</div>
		{% endfor %}
	</div>
	<h1 class="text-heading uk-text-bold">
		EXIBITORS
	</h1>
	<div class="row" style="justify-content: left">
		{% for exhibitor in exhibitors %}
			<div class="card baseBlock d-flex flex-column justify-content-between text-center" style="max-width: 300px; min-width: 300px; margin: 10px; padding: 10px">
				<a href="{{ exhibitor.website }}">
						<div class="card-img-top"> {{ exhibitor.img.thumb|safe }}</div>
					<div class="card-body">
						<h5 class="card-title">{{ exhibitor.name|upper }}</h5>
					</div>
					<p class="card-text">
						{{ exhibitor.website }}
					</p>
				</a>
			</div>
		{% endfor %}
	</div>
</div>


{% endblock content %}
