.header_background {
	background-image: linear-gradient(to right, #FF8629,#FD3600);
}

button#btn-color.btn.btn-lg.btn-block.mt-4 {
	background-color: #FF8629 !important;
}
.active {
	border-bottom: 2px solid #F42515;
	text-decoration: none;
}
.active:hover{
	text-decoration: none;
  color: #F42515;
}
.text-color {
	  color: #01C6B4;
}
.hover-underline-animation {
  color: #F42515;
}
.hover-underline-animation:hover{
  color: #F42515;
}

.hover-underline-animation:after {
  background-color: #F42515;
}
.cust-btn {
	margin-top: 30px;
	background: #FF8629;
	border-radius: 5px;
	color: #ffffff;
	font-size: 25px;
	padding: 7px 80px 7px 80px;
	/*text-decoration: none;*/
}

.cust-btn:hover {
	background: #F42515 ;
	color: #ffffff;
}
.cust-btn:focus {
	background: black;
	color: #ffffff;
}
@media only screen and (max-width: 991px) {
	.mobile-conference-date {
		background-color: #01C6B3;
	}
}
.child-a-tag {
	background-color: #00A6AB;
	color: white;
}
.child-a-tag:hover, #small-children-links:hover {
	color: white;
	background-color: #F42515;
}