{% extends 'admin/base_site.html' %}

{% block extrahead %}

	{{ block.super }}
	<script src="/static/conference/js/jquery.js"></script>

	<script src="/static/tinymce/tinymce.js"></script>

	<script src="/static/codemirror/lib/codemirror.js"></script>
	<script src="/static/codemirror/addon/mode/loadmode.js"></script>
	<script src="/static/codemirror/addon/mode/overlay.js"></script>
	<script src="/static/codemirror/mode/meta.js"></script>
	<script src="/static/codemirror/mode/htmlembedded/htmlembedded.js"></script>
	<script src="/static/codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="/static/codemirror/mode/xml/xml.js"></script>
	<script src="/static/codemirror/mode/css/css.js"></script>
	<script src="/static/codemirror/mode/javascript/javascript.js"></script>
{#	<script src="/static/js/codemirror.js"></script>#}
{% endblock extrahead %}

{% block extrastyle %}

	{{ block.super }}

	<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="/static/codemirror/theme/monokai.css">
{% endblock %}
