{% extends 'emmre_main/static_templates/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content" style="padding: 2% 10%">
    <p style="margin-bottom: 0"> {{ blog.author }}</p>
    <p>{{ blog.date_published }}</p>
    {{ blog.img }}
    <h1 style="text-align: center; padding-bottom: 30px">{{ blog.title|safe }}</h1>
{#    <img src="{{ article.img }}" alt="">#}
    <p>{{ blog.body|safe }}</p>
</div>
<div class="container">
    <div class="comment">
        {% if comments %}
        <h3>Blog Comments</h3>
            {% for comment in comments %}
                {% if comment.approved %}
                    <div class="content" style="padding: 2% 10%">
                        <p style="margin-bottom: 0">{{ comment.date }}</p>
                        <p style="margin-bottom: 0">{{ comment.author|safe|capfirst }}</p>
                        <p>{{ comment.text|safe }}</p>
                    </div>
                    <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <h3>Add a Comment...</h3>
    <form action="" method="post">
        <label for="id_author">Name:</label>
        {{ comment_form.author }}
        <label for="id_text">Comment:</label>
        {{ comment_form.comment }}
    </form>
</div>
{% endblock %}