
{% block footer %}

<div class="container" style="margin: 30px auto 0 auto; width: 75%; text-align: center">
	<nav class="navbar" style="margin: 10px 0 0 0; width: 100%; text-align: center">
		{% for menu_item in menu_items %}
			{% if menu_item.is_footer %}
				<div class="menu-item" style="margin: 0 0px">
					<a href="{{ menu_item.link }}" class="{% if request.path == menu_item.link %}active{% endif %} nav-link text-color-accessibility" style="margin: auto -0px">{{ menu_item.name|upper }}</a>
				</div>
			{% endif %}
		{% endfor %}
	</nav>
</div>

{#<nav class="navbar navbar-expand-md navbar-light bg-light pt-5">#}
{#  <div class="text-center">#}
{#		<ul class="main-footer-nav text-center">#}
{#			<li class="nav-item"><a class="hover-underline-animation" href="{% url 'register' %}">REGISTER</a> </li>#}
{#			<li class="nav-item"><a class="hover-underline-animation" href="{% url 'about' %}">ABOUT</a> </li>#}
{#			<li class="nav-item"><a class="hover-underline-animation" href="http://www.writersdigest.com/wd-events/conference-code-of-conduct">CODE OF CONDUCT</a> </li>#}
{#			<li class="nav-item"><a class="hover-underline-animation" href="{% url 'newsletter' %}">NEWSLETTER</a> </li>#}
{#			<li class="nav-item"><a class="hover-underline-animation" href="{% url 'faq' %}">FAQ</a> </li>#}
{#			<li class="nav-item"><a class="hover-underline-animation" href="https://www.aimmedia.com/privacy-policy/">PRIVACY</a> </li>#}
{#			<li class="nav-item"><a class="hover-underline-animation" href="{% url 'contact_us' %}">CONTACT US</a> </li>#}
{#		</ul>#}
{#  </div>#}
{#</nav>#}

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="text-center">
	<ul class="footer-link-list">
		<li style="margin-right: 0"><img src="{{ settings.footer.logo.url }}" alt="{{ settings.footer.logo.alt }}" style="width: 50%;"></li>
		<li style="margin-left: 0"><a class="text-color-accessibility" href="https://twitter.com/WritersDigest"><i class="fab fa-twitter"></i></a></li>
		<li><a class="text-color-accessibility" href="https://www.facebook.com/writersdigest"><i class="fab fa-facebook-f"></i></a></li>
		<li><a class="text-color-accessibility" href="https://www.instagram.com/writersdigest/"><i class="fab fa-instagram"></i></a></li>
	</ul>
  </div>
</nav>
<div class="container" style="width: 100%; text-align: center">
	<p class="text-center pb-4">Copyright © 2021 <a class="text-color-accessibility" href="https://www.writersdigest.com">Writer's Digest, a division of Active Interest Media</a></p>
</div>


{% endblock footer %}