
{% block header %}

<div class="header_background">
	<div class="container" style="width: 100%">
		<div class="row">
			<div class="logo">
{#				TODO alt tags not working on any img #}
				<img src="{{ settings.header.logo.url }}" alt="{{ settings.header.logo.alt }}" style="width: auto">
			</div>

			<div class="apps col-sm-4 text-center header-right">
				<ul class="social-media-list">
					<li><a href="https://twitter.com/WritersDigest"><i class="fab fa-twitter social-media"></i></a></li>
					<li><a href="https://www.facebook.com/writersdigest"><i class="fab fa-facebook-f social-media"></i></a></li>
					<li><a href="https://www.instagram.com/writersdigest/"><i class="fab fa-instagram social-media"></i></a></li>
				</ul>
				<ul class="conference-date">
					<li>
						{{ conference.start_date|date:"F j"|upper}}-{{ conference.end_date|date:"j"}},
						{{ conference.end_date|date:"Y"}}
					<p id="text_location">
						{{ conference.location|upper }}
					</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
			<div class="mobile-conference-date">
				<p>
					{{ conference.start_date|date:"F j"|upper}}-{{ conference.end_date|date:"j"}},
					{{ conference.end_date|date:"Y"}}
				<span id="location">
					{{ conference.location|upper }}
				</span>
				</p>
			</div>
	<br>

{#	Navbar edited by admin Menu Items, conference/assets/conference.js/script.js edits the children show and hide elements #}
<div class="container" style="margin: 30px auto 50px auto; width: 100%; text-align: center">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		{% for menu_item in menu_items %}
			{% if menu_item.is_header %}
				<div class="menu-item nav-item collapse navbar-collapse {% if request.path != menu_item.link %} hover-underline-animation{% endif %}" id="navbarToggler">
					<a href="{{ menu_item.link }}" class="{% if request.path == menu_item.link %}active{% endif %} nav-link">{{ menu_item.name|upper }}</a>
					{% with children=menu_item.children.all %}
						{% if children.exists %}
							<div class="menu-display" >
								{% for child in children %}
									<div class="menu-item" id="small-children-links">
										<a class="child-a-tag" href="{{ child.link }}"  style="">{{ child.name|upper }} </a>
									</div>
								{% endfor %}
							</div>
						{% endif %}
					{% endwith %}
				</div>
			{% endif %}
		{% endfor %}
	</nav>
</div>
{% endblock header %}
