
{% block header %}

<div class="header_background">
	<div class="container" style="width: 100%">
		<div class="row text-center d-flex justify-content-between" style="display: inline-table;">
			<div class="logo col-md-6">
				<img src="{{ settings.header.logo.url }}" alt="{{ settings.header.logo.alt }}" role="img" style="width: auto">
			</div>

			<div class="apps col-sm-6 text-right header-right" style="padding: 5px 0 0 100px;">
                <div class="text-center">
                    <ul class="social-media-list">
                        <li><a href="https://twitter.com/WritersDigest"><i class="fab fa-twitter social-media" title="Twitter" aria-label="Twitter" role="img"></i></a></li>
                        <li><a href="https://www.facebook.com/writersdigest"><i class="fab fa-facebook-f social-media" title="Facebook" aria-label="Facebook" role="img"></i></a></li>
                        <li><a href="https://www.instagram.com/writersdigest/"><i class="fab fa-instagram social-media" title="Instagram" aria-label="Instagram" role="img"></i></a></li>
                    </ul>
                    <ul class="conference-date">
                        <li>
                            {{ conference.start_date|date:"F j"|upper|default:"conference.start_date"}}-{{ conference.end_date|date:"j"|default:"conference.end_date"}},
                            {{ conference.end_date|date:"Y"|default:"conference.start_date-year"}}
                        <p id="text_location">
                            {{ conference.location|upper|default:"conference.location" }}
                        </p>
                        </li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
</div>
<div class="mobile-conference-date">
    <p>
        {{ conference.start_date|date:"F j"|upper|default:"conference.start_date"}}-{{ conference.end_date|date:"j"|default:"conference.end_date"}},
        {{ conference.end_date|date:"Y"|default:"conference.start_date-year"}}
    <span id="location">
        {{ conference.location|upper|default:"conference.location" }}
    </span>
    </p>
</div>
	<br>

{#	Navbar edited by admin Menu Items, conference/assets/conference.js/script.js edits the children show and hide elements #}
<div class="container text-center" style="margin: 0 auto 20px auto; width: 100%; text-align: center; margin: 0 40px">
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		{% if menu_items.exists %}

		{% for menu_item in menu_items %}
			{% if menu_item.is_header %}
				<div class="menu-item nav-item collapse navbar-collapse {% if request.path != menu_item.link %} hover-underline-animation{% endif %}" id="navbarToggler" style="position: relative">
					<a href="{{ menu_item.link }}" class="{% if request.path == menu_item.link %}active{% endif %} nav-link text-color-accessibility" style="">{{ menu_item.name|upper }}</a>
					{% with children=menu_item.children.all %}
						{% if children.exists %}
							<div class="menu-display">
								{% for child in children %}
{#									<div class="menu-item small-children-links" style="left:50%;transform: translateX(-50%)">#}
										<a class="child-a-tag text-color-accessibility" href="{{ child.link }}" style="display: block; width: 100%" >{{ child.name|upper }} </a>
{#									</div>#}
								{% endfor %}
							</div>
						{% endif %}
					{% endwith %}
				</div>
			{% endif %}
		{% endfor %}
		{% else %}
			<a href="#" class="text-color-accessibility">{{ menu_item.name|upper|default:"menu_item.namd" }}</a>

		{% endif %}
	</nav>
</div>
{% endblock header %}
